{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home page</title>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function(){
            $('div input').change(function () {
              $('div p').text(this.files.length + " file selected");
            });
          });
    </script>
    <div class='container'>
            <h2 align='center'> What algorithm would you like to use for sorting?</h2>

            {% if messages %}
                {% for message in messages %}  
                <li{% if message.tags %} class="alert alert-{{ message.tags }}" role="alert" style="list-style: none; text-align:center;"{% endif %}>
                    {{ message }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        <form action="{% url 'algorithm' %}" method='POST' enctype="multipart/form-data">

            {% csrf_token %}
            <div class="select-box">
                <select name="algorithm" id="select-box1" class="select">
                <option>Bubble</option>
                <option>Insertion</option>
                <option>Merge</option>
            </select> <br>
            <center>
                <div class="file-field">
                    <p>Drag your files here or click in this area.</p>
                    <input type="file" name="sentFile" />
                </div>
            </center>
            <center>
            <button class="btn"><i class="fa fa-download"></i>
                <a class='download' href="static/files/example.txt" download>
                    Download file example
                </a>
            </button>
            </center>
            </div>
            
            <!-- <input type="file"> -->
        <center>
            <button type="submit" class="btn-primary">Sort</button>
        </center>
        </form>
        
       
    </div>
    
    

</body>
</html>